        <section class="page-section portfolio" id="portfolio">
          <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
              <h2 class="page-section-heading text-secondary mb-0 d-inline-block">SERVICES</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-biking"></i></div>
              <div class="divider-custom-line"></div>
            </div>
          </div>
          <!-- Services Grid Items-->
          <div class="container">
            <div class="row">
              <div class="card-deck">
                <div class="card">
                  <%= image_tag 'particulier.svg', class: "card-img-top  p-4 w-75" %>
                  <div class="card-body">
                    <h5 class="card-title text-secondary">Particuliers</h5>
                    <ul class="list-group">
                      <li class="list-group-item text-muted">Pas le temps de faire les courses ?</li>
                      <li class="list-group-item text-muted">Besoin de faire livrer des roses à votre femme ?</li>
                      <li class="list-group-item text-muted">Malade à la maison et besoin de médicament ?</li>
                      <li class="list-group-item text-muted">Récupérer un article commandé dans un magasin ?</li>
                    </ul>
                    <p class="card-text"><small class="text-muted">L'Horizon Vert - Nice-France</small></p>
                  </div>
                </div>
                <div class="card">
                  <%= image_tag 'pro.svg', class: "card-img-top  p-4 w-75" %>
                  <div class="card-body">
                    <h5 class="card-title text-secondary">Professionnels</h5>
                    <ul class="list-group">
                      <li class="list-group-item text-muted">Un colis ou une enveloppe urgente à livrer à un client ?
                      </li>
                      <li class="list-group-item text-muted">Des commandes à faire passer dans les temps ?</li>
                      <li class="list-group-item text-muted">Un document à porter au tribunal, dans une administration ?
                      </li>
                      <li class="list-group-item text-muted">Un document à faire signer ?</li>
                    </ul>
                    <p class="card-text"><small class="text-muted">L'Horizon Vert - Nice-France</small></p>
                  </div>
                </div>
                <div class="card">
                  <%= image_tag 'prices.svg', class: "card-img-top p-4 w-50" %>
                  <div class="card-body">
                    <h5 class="card-title text-secondary">Grille Tarifaire</h5>
                    <ul class="list-group">
                      <li class="list-group-item text-muted">
                        <a href="" data-toggle="modal" data-target="#exampleModal" class="text-secondary">Nice-Est <strong
                            class="text-primary pl-2">Tarification</strong>
                        </a>
                      </li>
                      <li class="list-group-item text-muted"><a href="" data-toggle="modal"
                          data-target="#exampleModal1" class="text-secondary">Nice-Ville <strong
                            class="text-primary pl-2">Tarification</strong></a></li>
                      <li class="list-group-item text-muted"><a href="" data-toggle="modal"
                          data-target="#exampleModal2" class="text-secondary">Nice-Nord <strong
                            class="text-primary pl-2">Tarification</strong></a></li>
                      <li class="list-group-item text-muted"><a href="" data-toggle="modal"
                          data-target="#exampleModal3" class="text-secondary">Nice-Ouest <strong
                            class="text-primary pl-2">Tarification</strong></a></li>
                    </ul>
                    <!-- Modal -->
                    <!-- Modal NICE EST -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-primary" id="exampleModalLabel">Nice-Est Tarifs</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class=" px-5">
                              <div class="thead-title thead d-flex justify-content-between">
                                <h5 class="text-secondary">Durée</h5>
                                <h5 class="text-primary">Prix (TTC)</h5>
                              </div>
                              <hr>
                              <div class="thead-infos rounded d-flex justify-content-between">
                                <div class="times text-secondary">
                                  <h6>4H:00min</h6>
                                  <hr>
                                  <h6>2H:00min</h6>
                                  <hr>
                                  <h6>Express(1H:00min)</h6>
                                </div>
                                <div class="price text-primary">
                                  <h6>8.00 euro</h6>
                                  <hr>
                                  <h6>12.00 euro</h6>
                                  <hr>
                                  <h6>22.00 euro</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer p-0 d-flex justify-content-center">
                            <a href="#" class="text-primary rounded btn-secondary p-4 font-weight-bold"
                              data-dismiss="modal">SERVICES</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal NICE VILLE -->
                    <div class="modal fade" id="exampleModal1" tabindex="-2" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-primary" id="exampleModalLabel">Nice-Est Tarifs</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class=" px-5">
                              <div class="thead-title thead d-flex justify-content-between">
                                <h5 class="text-secondary">Durée</h5>
                                <h5 class="text-primary">Prix (TTC)</h5>
                              </div>
                              <hr>
                              <div class="thead-infos rounded d-flex justify-content-between">
                                <div class="times text-secondary">
                                  <h6>4H:00min</h6>
                                  <hr>
                                  <h6>2H:00min</h6>
                                  <hr>
                                  <h6>Express(1H:00min)</h6>
                                </div>
                                <div class="price text-primary">
                                  <h6>6.50 euro</h6>
                                  <hr>
                                  <h6>10.00 euro</h6>
                                  <hr>
                                  <h6>15.00 euro</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer p-0 d-flex justify-content-center">
                            <a href="#" class="text-primary rounded btn-secondary p-4 font-weight-bold"
                              data-dismiss="modal">SERVICES</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal NICE NORD -->
                    <div class="modal fade" id="exampleModal2" tabindex="-3" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-primary" id="exampleModalLabel">Nice-Est Tarifs</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class=" px-5">
                              <div class="thead-title thead d-flex justify-content-between">
                                <h5 class="text-secondary">Durée</h5>
                                <h5 class="text-primary">Prix (TTC)</h5>
                              </div>
                              <hr>
                              <div class="thead-infos rounded d-flex justify-content-between">
                                <div class="times text-secondary">
                                  <h6>4H:00min</h6>
                                  <hr>
                                  <h6>2H:00min</h6>
                                  <hr>
                                  <h6>Express(1H:00min)</h6>
                                </div>
                                <div class="price text-primary">
                                  <h6>8.00 euro</h6>
                                  <hr>
                                  <h6>12.00 euro</h6>
                                  <hr>
                                  <h6>22.00 euro</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer p-0 d-flex justify-content-center">
                            <a href="#" class="text-primary rounded btn-secondary p-4 font-weight-bold"
                              data-dismiss="modal">SERVICES</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal NICE OUEST -->
                    <div class="modal fade" id="exampleModal3" tabindex="-4" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-primary" id="exampleModalLabel">Nice-Est Tarifs</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class=" px-5">
                              <div class="thead-title thead d-flex justify-content-between">
                                <h5 class="text-secondary">Durée</h5>
                                <h5 class="text-primary">Prix (TTC)</h5>
                              </div>
                              <hr>
                              <div class="thead-infos rounded d-flex justify-content-between">
                                <div class="times text-secondary">
                                  <h6>4H:00min</h6>
                                  <hr>
                                  <h6>2H:00min</h6>
                                  <hr>
                                  <h6>Express(1H:00min)</h6>
                                </div>
                                <div class="price text-primary">
                                  <h6>10.00 euro</h6>
                                  <hr>
                                  <h6>17.00 euro</h6>
                                  <hr>
                                  <h6>27.00 euro</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer p-0 d-flex justify-content-center">
                            <a href="#" class="text-primary rounded btn-secondary p-4 font-weight-bold"
                              data-dismiss="modal">SERVICES</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="card-text" id="apropos-anchor"><small class="text-muted">L'Horizon Vert -
                        Nice-France</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Portfolio Modal-->

        <section class="page-section parallax bg-primary text-white mb-0" id="about">
          <div class="overlay">
            <!-- About Section Heading-->
            <div class="text-center apropos">
              <h2 class="page-section-heading apropos-title d-inline-block text-white">A PROPOS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-biking"></i></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="container">
              <div class="">
                <h5>Pourquoi faire compliqué quand on peut faire Simple ?</h5>
                <h6>L'Horizon Vert est la solution la plus adaptée à vos besoins.</h6>
                <p class="apropos">Il est très simple de commander un service de livraison par coursier vélo à NICE.
                  Tout ce
                  qu’il vous faut c'est de contacter l'entreprise de coursier L’horizon vert par téléphone et d'indiquer
                  l'adresse où nous allons chercher le colis.
                  Peu importe sa valeur. Tous les colis sont scellés en toute sécurité. De plus, le coursier à vélo et
                  le destinataire signe, à chaque fois, une preuve d'envoi et de réception des colis.</p>
              </div>
              <div id="contact-anchor"></div>
            </div>
          </div>
        </section>
        <section class="page-section" id="contact">
          <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
              <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-biking"></i></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                  <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                  <div class="text-muted">Téléphone</div>
                  <div class="lead font-weight-bold">(+33) 761-87-90-46 </div>
                  <p class="p-0 m-0 text-danger"><strong>Merci de préciser lors de votre appel :</strong></p>
                  <p class="p-0 m-0 text-primary">* Les dimensions et poids du colis.</p>
                  <p class="p-0 m-0 text-primary">* L'adresse de livraison.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                  <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                  <div class="text-muted">Email</div><a class="lead font-weight-bold"
                    href="mailto:name@example.com">aoualii16@gmail.com </a>
                </div>
              </div>
            </div>
            <div class="container text-center mt-4">
              <h5 class="text-secondary">Votre temps est sauvé ! <i class="fas fa-thumbs-up text-primary"></i></h5>
              <h6 class="text-muted">A nous de livrer rapidement et efficacement vos plis et colis à destination !</h6>
            </div>
          </div>
        </section>
